.fixed-dialog {
    position: fixed;
    top: 50px;
    left: 50px;
    margin-bottom: 20px;
}

/*.ui-dialog-content {
    padding-top: 5px;
    padding-bottom: 5px;
}*/

.fixed-dialog .ui-dialog-titlebar-close {
    visibility: visible;
    position: absolute;
}

.fixed-dialog .ui-dialog-titlebar {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#itemsToShow a {
    color: #000000;
    outline : none;
    font-size: 80%;
}

#productTitle {
    color: orangered;
}